In [1]:
def my_func():
    print("Hello from a function")
    
my_func()

Hello from a function

In [5]:
def my_func_name(fname):
    print(fname + " is " + "from London")

my_func_name("Marcus")
my_func_name("Joey")

Marcus is from London
Joey is from London

// But if argument is one and value passed is more than one then it will give an error in that case

## Using *Args - Using Arbitrary Arguments

In [8]:
def my_func(*kids):
    print("The youngest child is "+ kids [1])

my_func("Emil", "Aakash", "Ankur")

The youngest child is Aakash

## Using Keyword Argument - *Kwargs

In [13]:
def my_func(child3, child2, child1):
    print("The youngest child is " + child3)

my_func(child1 = "Emil", child3 = "Aakash", child2 = "Ankur")

The youngest child is Aakash

##### Order doesn't matter in this as in case of *Args

## Arbitary keyword Arguments **kwargs

In [17]:
def my_func(**kid):
    print("His last name is "+ kid["lname"])
    
my_func(fname = "Aakash", lname = "Saxena")

His last name is Saxena

# Default parameters

In [19]:
def my_func(country = "India"):
    print("my country is " + country)

my_func("London")
my_func()

my country is London
my country is India

// uses same as in the parameter if the function is without argument

# Passing a list as an argument

In [22]:
def my_func(fruits):
    for x in fruits:
        print(x)

fruit = ["apple", "banana", "cherry"]

my_func(fruit)

apple
banana
cherry

# Return Values

In [24]:
def my_func(x):
    return 5*x

print(my_func(3))
print(my_func(5))

15
25

# Function with no content - Pass

# Recursion

In [32]:
def my_func(x):
    if (x>0):
        s = x + my_func(x-1)
        print(s)
    else:
        s = 0
    return s

my_func(5)

1
3
6
10
15

15

# Lambda

// small anonymous function
// take any number of arguments, but can have only one expression

In [33]:
x = lambda a : a*5

print(x(3))

15

In [34]:
def my_lamb(n):
    return lambda a:a*n

mydoubler = my_lamb(2)
print(mydoubler(11))

22